# Node dependencies
node_modules/
tars-front-end/node_modules/
tars-front-end/tari/node_modules/

# Build output
/build
tars-front-end/build/
tars-front-end/tari/dist/
tars-front-end/tari/dist-ssr/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# IDE and system files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

backend/__pycache__/
android_docs_text/
android_docs_markdown/
android_docs_markdown_cleaned/
android_docs_markdown_cleaned/

chroma_db_store

commands.txt
backend/embed/__pycache__/
backend/embed/__pycache__/document_processor.cpython-312.pyc
backend/embed/__pycache__/vector_store.cpython-312.pyc

backend/message_structures/__pycache__/

backend/search/__pycache__/