.chat-window {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 80%;
	height: 100%;
	margin-top: 50px;
	margin-bottom: 60px;
	border: 1px solid #ccc;
	border-radius: 15px;
	padding: 15px;
	overflow-x: scroll;
	overflow-y: scroll;
	background-color: black;
}
  