.chat-message {
	flex-shrink: 0;
	flex-grow: 0;
	height: auto;
	overflow-wrap: break-word;
	max-width: 100%;
	margin-bottom: 15px;
}

.inline-code {
	background-color: #333;
	padding: 2px 6px;
	border-radius: 4px;
	font-family: monospace;
	font-size: 0.95em;
	white-space: pre-wrap;
}


.chat-window-input {
	text-align: left;
	color: whitesmoke;
}

.chat-window-output {
	text-align: right;
	color: lightseagreen;
}
